<nav>
    <span class="navigation-icon">
        <span class="material-icons">
            keyboard_arrow_left
        </span>
        <span class="material-icons">
            keyboard_arrow_right
        </span>
    </span>
    <div class="search-box">
        <input type="text" name="search" id="search" placeholder="search here" />
        <div class="search-suggestion">
            
        </div>
    </div>
    <div class="profile-section">
        <a href="#" id="orgn">Organization</a>
        <span class="material-icons org-arrow">
            keyboard_arrow_down
        </span>
        <div class="oranisation-selection"></div>
        <img src="../../../../../assets/dp.jpg" alt="dp" />
    </div>
</nav>