<div class="menu-icons">
     <ul>
        <li>
            <div class="material-icons">
                notifications
            </div>
            <div>
                <a href="#">Activity</a>
            </div>
        </li>
        <li (click)="navigate()" routerLinkActive="active-link">
            <div class="material-icons">
                sms
            </div>
            <div>
                <a href="#">Chat</a>
            </div>
        </li>
        <li>
            <div class="material-icons">
                group
            </div>
            <div>
                <a href="#">Teams</a>
            </div>
        </li>
        <li>
            <div class="material-icons">
                calendar_today
            </div>
            <div>
                <a href="#">Calander</a>
            </div>
        </li>
        <li class="extra-icon">
            <div class="material-icons">
                school
            </div>
            <div>
                <a href="#">Learn</a>
            </div>
        </li>
        <li class="extra-icon">
            <div class="material-icons">
                call
            </div>
            <div>
                <a href="#">Call</a>
            </div>
        </li>
        <li class="extra-icon">
            <div class="material-icons">
                description
            </div>
            <div>
                <a href="#">Files</a>
            </div>
        </li>
        <li class="more-icons">
            <div class="material-icons">
                more_horiz
            </div>
            <div>
                <a href="#"></a>
            </div>
        </li>
        <li class="help">
            <div class="material-icons">
                help
            </div>
            <div>
                <a href="#">Help</a>
            </div>
        </li>
    </ul>
</div>