<div class="user-detail-section">
    <img src="../../../../assets/dp.jpg" alt="dp" />
    <div class="username">
        RavichandraReddy Yadiki
    </div>
    <div class="extras">
        <div class="title-chat"><a href="#">Chat</a></div>
        <div class="title-files"><a href="#">Files</a></div>
    </div>
    <div class="calling-options">
        <span class="material-icons" title="Audio call">
            call
        </span>
        <span class="material-icons" title="Video call">
            videocam
        </span>
        <span class="material-icons" title="Screen Sharing">
            present_to_all
        </span>
        <span class="material-icons" title="Add People">
            group_add
        </span>
    </div>
</div>