<div class="chat-body">
    <div class="user-chat-section">
        <div class="message-container">
            <div class="message-sent">
                <div class="timestamp">11/27
                    7:21 PM</div>
                <div class="actual-message">
                    This message has been
                    sent</div>
            </div>
            <div class="message-received">
                <div class="sender-details">
                    <span class="sender-name">RavichandraReddy Yadiki</span>
                    <span class="timestamp">11/27 7:21 PM</span>
                </div>
                <div class="actual-message">
                    This message has been
                    received</div>
            </div>
            <div class="message-sent">
                <div class="timestamp">11/27
                    7:21 PM</div>
                <div class="actual-message">
                    This message has been
                    sent</div>
            </div>
            <div class="message-received">
                <div class="sender-details">
                    <span class="sender-name">RavichandraReddy Yadiki</span>
                    <span class="timestamp">11/27 7:21 PM</span>
                </div>
                <div class="actual-message">
                    This message has been
                    received</div>
            </div>
            <div class="message-received">
                <div class="sender-details">
                    <span class="sender-name">RavichandraReddy Yadiki</span>
                    <span class="timestamp">11/27 7:21 PM</span>
                </div>
                <div class="actual-message">
                    This message has been
                    received</div>
            </div>
            <div class="message-received">
                <div class="sender-details">
                    <span class="sender-name">RavichandraReddy Yadiki</span>
                    <span class="timestamp">11/27 7:21 PM</span>
                </div>
                <div class="actual-message">
                    This message has been
                    received</div>
            </div>
            <div class="message-sent">
                <div class="timestamp">11/27
                    7:21 PM</div>
                <div class="actual-message">
                    This message has been
                    sent</div>
            </div>
            <div class="message-received">
                <div class="sender-details">
                    <span class="sender-name">RavichandraReddy Yadiki</span>
                    <span class="timestamp">11/27 7:21 PM</span>
                </div>
                <div class="actual-message">
                    This message has been
                    received</div>
            </div>
            <div class="message-sent">
                <div class="timestamp">11/27
                    7:21 PM</div>
                <div class="actual-message">
                    This message has been
                    sent</div>
            </div>
        </div>
    </div>
</div>

<div class="chat-compose">
    <div class="message-compose-section">
        <input type="text" name="sendMessage" id="sendMessage" placeholder="Type a new message"
            autocomplete="off" />

        <div class="message-options">
            <span class="material-icons" title="Priority">
                priority_high
            </span>
            <span class="material-icons" title="attach files">
                attach_file
            </span>
            <span class="material-icons" title="schedule meeting">
                today
            </span>
            <span class="material-icons" title="notes">
                notes
            </span>
            <span class="material-icons" title="add task">
                add_task
            </span>
            <span class="material-icons" title="praise">
                emoji_objects
            </span>
            <span class="material-icons send__message" title="Send message">
                send
            </span>
        </div>
    </div>
</div>